/*--------------------------------------------------------------
>>> _1200up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/

/* Hero */
.hero-section {
	min-height: 500px;
}
.hero-callout {
	h1 {
		margin-top: 0.75em;
	}
}
.hero-image {
	img {
		max-width: 500px;
		margin-bottom: -330px;
	}
}

/* More Work */
.work-thumb {
	height: 300px;
}

/* Testimonials */
.tst-text {
	padding: 0 10%;
}

/*--------------------------------------------------------------
Work Single
--------------------------------------------------------------*/
.work-thumb-large {
	height: 725px;
}