/*--------------------------------------------------------------
>>> _1200up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
/* Contact Info */
.header-contact {
	margin-top: 0.625em;
	.contact-icons {
		display: none;
	}
	.contact-text {
		display: block;
		float: right;
	}
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.info-block {
	padding-right: 60px;
}

/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/
/* Hero */
.hero-section {
	min-height: 500px;
}
.hero-callout {
	h1 {
		margin-top: 0.75em;
	}
}
.hero-image {
	img {
		max-width: 500px;
		margin-bottom: -330px;
	}
}

/* Testimonials */
.tst-text {
	padding: 0 10%;
}

/*--------------------------------------------------------------
Work Page
--------------------------------------------------------------*/
.work-thumb {
	height: 300px;
}
