/*--------------------------------------------------------------
>>> _561up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
/* Navigation */
.main-navigation {
	li {
		padding: 0 0.5em;
	}
}

/*--------------------------------------------------------------
Work Page
--------------------------------------------------------------*/
.work-detail {
	.content {
		h4 {
			font-size: 32px;
			font-size: 3.2rem;
		}
		.cats {
			font-size: 16px;
			font-size: 1.6rem;
		}
	}
}