/*--------------------------------------------------------------
>>> _768up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/

/* Utility */
.full-height_desktop {
	position: relative;
	height: 100%;
}

/* Headlines */
.text-hero {
	h1 {
		font-size: 64px;
		font-size: 6.4rem;
	}
}


/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header {
	padding: 1.25em 0;
}
.site-branding,
.main-navigation {
	float: left;
}
.site-branding {
	margin-right: 3.75em;
	margin-bottom: 0;
}

.main-navigation,
.site-contact {
	margin-top: 0.625em;
}

/* Navigation */
.main-navigation {
	li {
		color: $link-color;
		padding-left: 0;
		padding-right: 1.0em;
		&:after {
			content: '/';
			display: inline;
			padding-left: 1.0em;
		}
		&:last-of-type {
			&:after {
				display: none;
			}
		}
	}
	a {
		font-size: 16px;
		font-size: 1.6rem;
	}
}
.site-header {
	&.accent {
		.main-navigation {
			li {
				color: white;
			}
		}
	}
}

/* Contact */
.site-contact {
	display: block;
	float: right;
}

/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/
.section {
	padding: 56px 0;
}


/* Hero */
.hero-section {
	text-align: left;
}
.hero-callout {
}
.hero-image {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	img {
		max-width: 375px;
		margin-bottom: -160px;
	}
}

/* More Work */
.work-thumb {
	margin-bottom: 0;
	height: 175px;
}

/*--------------------------------------------------------------
About Page
--------------------------------------------------------------*/
/* Slider */
.slider__arrows {
	display: block;
}
.slider__nav {
	display: none;
}

/* Intro */
.services-intro {
	font-size: 20px;
	font-size: 2.0rem;
}

/* Item List */
.item-list {
	ul {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
}

/*--------------------------------------------------------------
Work Page
--------------------------------------------------------------*/
.work-page {
}
.work-image {
	&:nth-of-type(3n+4) {
		clear: left;
	}
}