/*--------------------------------------------------------------
>>> _768up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header {
	padding: 1.25em 0;
}
.site-branding,
.main-navigation {
	float: left;
}
.site-branding {
	margin-right: 3.0em;
	margin-bottom: 0;
}

.main-navigation,
.header-contact {
	margin-top: 0.625em;
}

/* Navigation */
.main-navigation {
	li {
		color: $link-color;
		padding-left: 0;
		padding-right: 0.75em;
		&:after {
			content: '/';
			display: inline;
			padding-left: 0.75em;
		}
		&:last-of-type {
			&:after {
				display: none;
			}
		}
	}
	a {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

/* Contact Info */
.header-contact {
	display: block;
	.contact-icons {
		float: right;
	}
	.contact-text {
		display: none;
	}
}
.contact-icons {
	.icon-phone,
	.icon-email {
		font-size: 24px;
		font-size: 2.4rem;
		line-height: 1.0;
		@include antialiased;
	}
}

/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
/* Utility */
.full-height_desktop {
	position: relative;
	height: 100%;
}

/* Headlines */
.text-hero {
	h1 {
		font-size: 64px;
		font-size: 6.4rem;
	}
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.page-title {
	text-align: left;
}

/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/
.section {
	padding: 56px 0;
}

/* Hero */
.hero-section {
	text-align: left;
}
.hero-callout {
}
.hero-image {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	img {
		max-width: 375px;
		margin-bottom: -160px;
	}
}

/* More Work */
.work-thumb {
	margin-bottom: 0;
	height: 175px;
}

/*--------------------------------------------------------------
About Page
--------------------------------------------------------------*/
.about-page {
	h1 {
		font-size: 64px;
		font-size: 6.4rem;
	}
}
/* Slider */
.slider__arrows {
	display: block;
}
.slider__nav {
	display: none;
}

/* Intro */
.services-intro {
	font-size: 20px;
	font-size: 2.0rem;
}

/* Item List */
.item-list {
	ul {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
}

/*--------------------------------------------------------------
Work Page
--------------------------------------------------------------*/
.work-page {
}
.work-image {
	&:nth-of-type(3n+4) {
		clear: left;
	}
}

/*--------------------------------------------------------------
Work Single
--------------------------------------------------------------*/
.work-thumb-large {
	height: 405px;
	margin-bottom: 30px;
}
