/*--------------------------------------------------------------
>>> _768up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Utility
--------------------------------------------------------------*/
.full-height_desktop {
	position: relative;
	height: 100%;
}
.text-hero {
	padding: 3.5em 1.5em 4.5em;
}
.text-hero,
.entry-header {
	.xl-heading {
		font-size: 64px;
		font-size: 6.4rem;
	}
}
.feat-img-area {
	height: 375px;
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header {
}
%site-logo {
	max-width: 131px;
}
.site-branding {
	margin-right: 3.0em;
	margin-bottom: 0;
}

.main-navigation {
	margin-top: 0.625em;
}
.header-contact {
	margin-top: 0.5em;
}

/* Navigation */
.main-navigation {
	li {
		color: $link-color;
		padding-left: 0;
		padding-right: 0.75em;
		&:after {
			content: '/';
			display: inline;
			padding-left: 0.75em;
		}
		&:last-of-type {
			&:after {
				display: none;
			}
		}
		// prevent dropdown menu
		ul {
			display: none;
		}
	}
	a {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.page-title {
	text-align: left;
}

/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/
.site-content {
	margin-top: 83px;
}
.section {
	padding: 56px 0;
}

/* Slides */
.slide-area {
	max-height: none;
}
.slide-area_text {
	top: 50%;
	bottom: auto;
	margin-top: -1.5em;
	h1 {
		font-size: 20px;
		font-size: 2.0rem;
	}
	h2 {
		font-size: 64px;
		font-size: 6.4rem;
		max-width: none;
	}
}
.slide-area_more {
	display: block;
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
	a {
		color: $border-dark;
		font-size: 28px;
		font-size: 2.8rem;
		&:active,
		&:focus {
			color: white;
		}
		&:hover {
			color: $link-color;
		}
	}
}

/* Services */
.service {
	padding-bottom: 0;
}

/* Work Items */
.feat-work-item {
	.cats {
		display: block;
		color: darken($border-color, 30%);
		font-weight: 300;
		a {
			color: darken($border-color, 30%);
			border-bottom: 1px dotted transparent;
			&:hover {
				border-color: darken($border-color, 30%);
				@include animated;
			}
		}
	}
}
.feat-work-img {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
About Page
--------------------------------------------------------------*/
.about-page {
}
/* Slider */
.slider__arrows {
	display: block;
}
.slider__nav {
	display: none;
}

/* Intro */
.services-intro {
	font-size: 20px;
	font-size: 2.0rem;
}

/* Item List */
.item-list {
	ul {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
}

/*--------------------------------------------------------------
Work Page
--------------------------------------------------------------*/
.work {
	&:hover {
		.work-detail {
			opacity: 1.0;
			@include screen_effect(0, 0, 0, 0.4);
		}
	}
	&:nth-of-type(3n+4) {
		clear: left;
	}
}
.work-nav-cats {
	a {
		font-size: 16px;
		font-size: 1.6rem;
	}
}
.work-detail {
	opacity: 0;
	.content {
		h4 {
			font-size: 18px;
			font-size: 1.8rem;
		}
		.cats {
			font-size: 12px;
			font-size: 1.2rem;
		}
	}
}

/*--------------------------------------------------------------
Work Single
--------------------------------------------------------------*/
