/*--------------------------------------------------------------
>>> _992up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header {
}
.site-branding {
	margin-right: 3.5em;
}

/* Navigation */
.main-navigation {
	float: left;
	li {
		padding-right: 1.0em;
		&:after {
			padding-left: 1.0em;
		}
	}
}

/* Contact Info */
.header-contact {
	float: right;
	.contact-icons {
		float: right;
	}
	.contact-text {
		display: none;
	}
}
.contact-icons {
	.icon-phone,
	.icon-email {
		display: block;
		float: left;
		font-size: 28px;
		font-size: 2.8rem;
		line-height: 1.0;
	}
}

/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
/* Image Areas */
.feat-img-area {
	height: 450px;
}

/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/
.section {
	padding: 64px 0;
}

/* Slides */
.slide-area_text {
	h1 {
		font-size: 20px;
		font-size: 2.0rem;
	}
	h2 {
		font-size: 84px;
		font-size: 8.4rem;
	}
}

/*--------------------------------------------------------------
Work Page
--------------------------------------------------------------*/
.work-detail {
	.content {
		h4 {
			font-size: 24px;
			font-size: 2.4rem;
		}
		.cats {
			font-size: 14px;
			font-size: 1.4rem;
		}
	}
}

/*--------------------------------------------------------------
Work Single
--------------------------------------------------------------*/
.single-work_item {
	.entry-content {
		margin-top: 0;
	}
	.work-image {
		margin-bottom: 1.5em;
	}
}
.sub-header {
	overflow: hidden;
	h2 {
		float: left;
	}
}
.work-nav_top {
	float: right;
}

/*--------------------------------------------------------------
Contact Page
--------------------------------------------------------------*/
.contact-form {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
	text-align: left;
	font-size: 14px;
	font-size: 1.4rem;
	.site-logo {
		margin-right: 30px;
		padding: 0.5em 45px;
		padding-left: 0;
		border-right: 1px solid darken($border-dark, 10%);
		img {
			width: 100%;
			height: auto;
		}
	}
}
.footer-info {
	display: table;
}
.info-block {
	display: table-cell;
	margin-bottom: 0;
	padding-right: 45px;
	h4 {
		font-size: 12px;
		font-size: 1.2rem;
	}
}
.link-small {
	font-size: 12px;
	font-size: 1.2rem;
}

/* Hide on desktop */
.footer-sep,
.footer-icons {
	display: none;
}
