/*--------------------------------------------------------------
>>> _992up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header {
}
.site-branding {
	margin-right: 3.5em;
}

/* Navigation */
.main-navigation {
	li {
		padding-right: 1.0em;
		&:after {
			padding-left: 1.0em;
		}
	}
}

/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/
.section {
	padding: 64px 0;
}

/* Hero */
.hero-callout {
	h1 {
		font-size: 56px;
		font-size: 5.6rem;
	}
	p {
		font-size: 24px;
		font-size: 2.4rem;
	}
}
.hero-image {
	img {
		max-width: 450px;
		margin-bottom: -230px;
	}
}

/* More Work */
.work-thumb {
	height: 250px;
}

/*--------------------------------------------------------------
Work Single
--------------------------------------------------------------*/
.work-thumb-large {
	height: 528px;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
	text-align: left;
	.site-logo {
		margin-right: 30px;
		padding: 0.5em 45px;
		padding-left: 0;
		border-right: 1px solid darken($border-dark, 2.5%);
		img {
			width: 100%;
			height: auto;
		}
	}
}
.footer-info {
	display: table;
}
.info-block {
	display: table-cell;
	margin-bottom: 0;
	padding-right: 45px;
}

/* Hide on desktop */
.footer-sep,
.footer-icons {
	display: none;
}