/*--------------------------------------------------------------
>>> _mixins.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
/* Fonts */
$sans-serif: 'Roboto', sans-serif;
$sans-alt: 'Lato', sans-serif;
$serif: Georgia, Palatino, serif;

/* Colors */
$blue: #80A1B6;
$brown: #9A857A;
$charcoal: #404040;
$gray-light: #E3E3E3;

/*--------------------------------------------------------------
Definitions
--------------------------------------------------------------*/
/* Fonts */
$body-font: $sans-serif;
$fancy-font: $serif;
$heading-font: $sans-alt;

/* Colors */
$accent-color: darken($brown, 5%);
$body-color: $charcoal;
$body-light: lighten($body-color, 25%);
$border-light: $gray-light;
$border-dark: darken($border-light, 5%);
$link-color: $blue;
$nav-bg: darken($link-color, 10%);
$pill-color: lighten($body-light, 20%);
$section-bg: lighten($border-light, 9%);

/* Social */
$gplus: #D4452A;
$facebook: #3C599B;
$linkedin: #0077B5;
$pinterest: #BD081C;
$twitter: #5EA9DD;

/*--------------------------------------------------------------
Effects
--------------------------------------------------------------*/
/* Transitions */
@mixin animated($time: .25s) {
	-webkit-transition: all $time linear;
	-moz-transition: all $time linear;
	-o-transition: all $time linear;
	transition: all $time linear;
}
@mixin image_lighten($opacity: 0.75) {
	&:hover {
		opacity: $opacity;
		@include animated;
	}
}

/* Gradient */
@mixin ecm_gradient($top, $bottom) {
	background: -webkit-linear-gradient($top, $bottom);
	background: -moz-linear-gradient($top, $bottom);
	background: -o-linear-gradient($top, $bottom);
	background: linear-gradient($top, $bottom);
}

/* Shadows */
@mixin drop_shadow($color) {
	-webkit-box-shadow: 0 8px 10px -6px $color;
	box-shadow: 0 8px 10px -6px $color;
}

/* Text Effects */
@mixin antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@mixin text_small {
	font-size: 87.5%;
}
@mixin text_smaller {
	font-size: 75%;
}

/* Positioning */
@mixin flip_horiz {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
