/*--------------------------------------------------------------
>>> _mixins.scss
--------------------------------------------------------------*/

/* Transitions */
@mixin animated($time: .25s) {
	transition: all $time ease-in-out;
}
@mixin image_lighten($opacity: 0.75) {
	&:hover {
		opacity: $opacity;
		@include animated;
	}
}

/* Gradient */
@mixin ecm_gradient($top, $bottom) {
	background: linear-gradient($top, $bottom);
}

/* Shadows */
@mixin drop_shadow($color) {
	box-shadow: 0 8px 10px -6px $color;
}

/* Text Effects */
@mixin font-smoothing($value: on) {
	@if ($value == on) {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@else {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}
@mixin text_shadow($color) {
	text-shadow: 3px 3px 5px $color;
}

/* Positioning */
@mixin flip_horiz {
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
@mixin vert_align {
	transform: translateY(-50%);
	top: 50%;
}

/* Effects */
@mixin screen_effect($r, $g, $b, $opacity) {
	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($r, $g, $b, $opacity);
	}
}

/* Container */
@mixin contained($max-width: 1170px) {
	margin: 0 auto;
	max-width: $max-width;
}