/*--------------------------------------------------------------
>>> _mobile.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/

/* Utility */
.full-height {
	position: relative;
	height: 100%;
}

/* Buttons */
.button-fancy {
	background-color: $accent-color;
	color: white;
	padding: 0.75em 1.0em;
	border-radius: 5px;
	letter-spacing: 1px;
	&:focus,
	&:hover {
		background-color: $button-color;
		color: white;
	}
}

/* Headlines */
.headline {
	text-align: center;
	font-family: $heading-font;
}
.fancy-headline {
	font-size: 22px;
	font-size: 2.2rem;
	margin: 0 0 2.0em;
	text-transform: uppercase;
	&:after {
		content: "";
		display: block;
		height: 3px;
		width: 30px;
		margin: 0.25em auto 0;
		background-color: $link-color;
	}
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header {
	text-align: center;
	background-color: $nav-bg;
	padding: 1.5em 0 1.25em;
	position: relative;
	z-index: 999;
	a {
		color: white;
		&:hover,
		&:focus {
			color: #E3E3E3;
			@include animate;
		}
	}
}
.site-branding,
.main-navigation {
	display: block;
}
.site-branding {
	margin: 0 0 1.25em;
}

/* Navigation */
.main-navigation {
	text-align: center;
	li {
		display: inline;
		padding: 0 0.5em;
	}
	a {
		display: inline-block;
		text-transform: uppercase;
		font-size: 14px;
		font-size: 1.4rem;
	}
}

/* Contact */
.site-contact {
	display: none;
	span {
		color: white;
	}
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.site-content {
	padding: 1.5em 0;
}
.entry-title,
.page-title {
	margin-top: 0;
}


/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/
.home {
	.site-content {
		padding: 0;
	}
}
.section {
	padding: 48px 0;
	position: relative;
	&:nth-of-type(odd) {
		background-color: lighten($border-color, 7.5%);
	}
	&:nth-of-type(even) {
		background-color: #FFF;
	}
}

/*------------------------------
Hero
------------------------------*/
.hero-section {
	text-align: center;
	background-color: darken($border-color, 15%);
	background-repeat: no-repeat;
	background-size: cover;
	.section {
		background-color: transparent;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.75);
		z-index: 1;
	}
}
.home-area {
	position: relative;
	z-index: 100;
}
.hero-callout {
	h1 {
		margin: 0 0 0.75em;
		font-size: 44px;
		font-size: 4.4rem;
		font-family: $heading-font;
	}
	p {
		font-size: 20px;
		font-size: 2.0rem;
		font-weight: 300;
	}
	.button {
		display: inline-block;
	}
}
.hero-image {
	display: none;
}

/*------------------------------
Services
------------------------------*/
.services-section {
	text-align: center;
	z-index: 999;
}
.service {
	p {
		font-weight: 300;
	}
}
.service-icon {
	margin-bottom: 0.75em;
}
.service-title {
	font-size: 20px;
	font-size: 2.0rem;
	margin-bottom: 1.0em;
}

/*------------------------------
Testimonials
------------------------------*/
.testimonial-section {
}
.tst-slider {
	ul {
		text-align: center;
		padding: 0;
		margin: 0;
	}
	li {
		list-style-type: none;
		font-family: $fancy-font;
		font-size: 20px;
		font-size: 2.0rem;
	}
	span {
		display: block;
		font-style: italic;
	}
	p {
		margin-bottom: 0.5em;
	}
}


/*------------------------------
Clients
------------------------------*/


/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
}