/*--------------------------------------------------------------
>>> _mobile.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/

/* Utility */
.full-height {
	position: relative;
	height: 100%;
}
.button-fancy {
	background-color: $accent-color;
	color: white;
	padding: 1.0em 1.25em;
	border-radius: 5px;
	&:focus,
	&:hover {
		background-color: $button-color;
		color: white;
	}
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header {
	text-align: center;
	background-color: $nav-bg;
	padding: 1.5em 0 1.25em;
	position: relative;
	z-index: 999;
	a {
		color: white;
		&:hover,
		&:focus {
			color: #E3E3E3;
			@include animate;
		}
	}
}
.site-branding,
.main-navigation {
	display: block;
}
.site-branding {
	margin: 0 0 1.25em;
}

/* Navigation */
.main-navigation {
	text-align: center;
	li {
		display: inline;
		padding: 0 0.5em;
	}
	a {
		display: inline-block;
		text-transform: uppercase;
		font-size: 14px;
		font-size: 1.4rem;
	}
}

/* Contact */
.site-contact {
	display: none;
	span {
		color: white;
	}
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.site-content {
	padding: 1.5em 0;
}
.entry-title,
.page-title {
	margin-top: 0;
}


/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/
.home {
	.site-content {
		padding: 0;
	}
}
.section {
	padding: 36px 0;
	position: relative;
}

/*------------------------------
Hero
------------------------------*/
.hero-section {
	background-color: lighten($border-color, 2.5%);
	text-align: center;
}
.home-area {
	position: relative;
}
.hero-callout {
	h1 {
		margin: 0 0 0.375em;
		font-size: 42px;
		font-size: 4.2rem;
	}
	p {
		font-size: 20px;
		font-size: 2.0rem;
		font-weight: 300;
	}
	.button {
		display: inline-block;
		margin: 1.0em 0 0.5em;
	}
}
.hero-image {
	display: none;
}

/*------------------------------
Services
------------------------------*/
.services-section {
	background-color: #fff;
}


/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
}