/*--------------------------------------------------------------
>>> _utility.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Miscellaneous
--------------------------------------------------------------*/
html {
	overflow-y: scroll;
}
.full-height {
	position: relative;
	height: 100%;
}
.accent-bar:before {
	display: block;
	margin: 0.875em 0 1.0em;
	content: '\2605\2605\2605';
	text-align: center;
	font-size: 1.125em;
}
.spacer {
	padding: 1.5em 0;
}
.bordered {
	padding: 0.75em 0;
	border-top: 1px dotted darken($border-color, 5%);
	border-bottom: 1px dotted darken($border-color, 5%);
}

/* Margins/Padding */
.no-top-margin {
	margin-top: 0 !important;
}

/*--------------------------------------------------------------
Buttons
--------------------------------------------------------------*/
.button {
	display: inline-block;
}
.pill {
	padding: 0.75em 2.0em;
	color: $pill-color;
	text-transform: uppercase;
	border: 2px solid $pill-color;
	border-radius: 500px;
	letter-spacing: 1px;
	@include font-smoothing(off);
	&:hover,
	&:focus {
		border-color: $link-color;
		color: $link-color;
	}
}
 %color-button {
	background-color: $accent-color;
	color: white;
	padding: 0.75em 1.25em;
	border-radius: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	@include font-smoothing(off);
	&:hover,
	&:focus {
		background-color: $link-color;
		color: white;
	}
}
.color-button {
	@extend %color-button;
}

/*--------------------------------------------------------------
Text
--------------------------------------------------------------*/
.text-center {
	text-align: center;
}
.text-small {
	font-size: 14px;
	font-size: 1.4rem;
}
.text-smaller {
	font-size: 12px;
	font-size: 1.2rem;
}

/*--------------------------------------------------------------
Hero Sections
--------------------------------------------------------------*/
.fancy-headline {
	font-size: 22px;
	font-size: 2.2rem;
	margin: 0 0 2.0em;
	text-transform: uppercase;
	&:after {
		content: "";
		display: block;
		height: 3px;
		width: 30px;
		margin: 0.25em auto 0;
		background-color: $link-color;
	}
}
.text-hero {
	position: relative;
	padding: 2.5em 1.5em 3.5em;
	margin-bottom: 2.75em;
	text-align: center;
	background-color: $section-bg;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	&.has_bg {
		@include screen_effect(0, 0, 0, 0.4);
		color: white;
		h1, .cats {
			position: relative;
			z-index: 300;
		}
		h1 {
			@include text_shadow(#222);
		}
		.cats, .cats a {
			color: #AAA;
		}
	}
	.cats, .cats a {
		color: lighten($body-color, 30%);
	}
}
.text-hero,
.entry-header {
	.xl-heading {
		font-size: 48px;
		font-size: 4.8rem;
		font-weight: 300;
	}
}
.accent-heading {
	margin: 0 0 1.0em;
	color: $accent-color;
	text-transform: uppercase;
	font-weight: 700;
}

/* Image Areas */
.feat-img-area {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

/*--------------------------------------------------------------
Admin Bar
--------------------------------------------------------------*/
.ab-top-menu {
	#wp-admin-bar-search {
		display: none !important;
	}
}
.admin-bar {
	.site-header {
		top: 46px;
	}
	.slide-section {
		margin-top: -46px;
	}
}
@media only screen and (min-width: 783px) {
	.admin-bar {
		.site-header {
			top: 32px;
		}
		.slide-section {
			margin-top: -32px;
		}
	}
}

/*--------------------------------------------------------------
Headroom
--------------------------------------------------------------*/
.headroom {
	transition: transform 200ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}

/*--------------------------------------------------------------
Mobile Menu
--------------------------------------------------------------*/
#mobile-menu {
	position: fixed;
	display: table;
	top: 0; left: 0;
	background-color: rgba(136, 166, 186, 0.9);
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
	&.open {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.375s;
	}
	.main-menu {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			opacity: 0.4;
			transform: translateY(-25%) rotateX(35deg);
			transition: transform 0.5s, opacity 0.5s;
		}
		a {
			color: white;
			font-size: 36px;
			font-size: 3.6rem;
			&:hover,
			&:focus {
				color: darken(white, 10%);
			}
		}
	}
	&.open .main-menu ul {
		opacity: 1;
		transform: rotateX(0deg);
	}
	&.close .main-menu ul {
		transform: translateY(25%) rotateX(-35deg);
	}
}
.mobile-close {
	display: block;
	z-index: 10000;
	position: fixed;
	top: 20px;
	right: 15px;
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1.0;
	color: white;
	&:hover {
		cursor: pointer;
	}
	&:active {
		color: darken(white, 10%);
	}
}
.logged-in {
	.mobile-close {
		top: 66px; // top + admin bar height
	}
}