/*--------------------------------------------------------------
>>> _600up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
/* Navigation */
.main-navigation {
	li {
		padding: 0 0.5em;
	}
}

/* Slides */
.slide-area_text {
	h2 {
		max-width: 60%;
	}
}

/*--------------------------------------------------------------
Blog
--------------------------------------------------------------*/
.blog {
	article {
		float: left;
		width: 50%;
		&:nth-of-type(odd) {
			clear: left;
		}
	}
}

/*--------------------------------------------------------------
Work Page
--------------------------------------------------------------*/
.work-thumb_info {
	h4 {
		font-size: 32px;
		font-size: 3.2rem;
	}
	.cats {
		font-size: 16px;
		font-size: 1.6rem;
	}
}